* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-areas: "header-left header-right header-right" "content-left content-left content-right" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
}


/* Header left */
#header-left {
    grid-area: header-left;
    background-color:#294E79;
}

.logo {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 100px;
}

.header__logo-description {
    color: #fff;
}


/* header right */
.header-right {
    grid-area: header-right;
    background-color: #294E79;
    
}

.form {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin: 20px;
}

.nav__search {
    border: 2px solid #497EBF;
    background-color: rgba(28, 52, 81, 0.8);
    
}

input::placeholder {
    color: #fff; 
}

input[type="submit"] {
    color: #fff; 
}

.nav__submit {
    cursor: pointer;
    padding: 4px;
    border: 2px solid #497EBF;
    background-color: rgba(28, 52, 81, 0.8);
}


/* content-left */

#content-left {
  grid-area: content-left;
  padding: 20px;
  background: #fff;
}

.content-left__main {
    display: flex;
    gap: 30px;
}

.content-left__main-des {
    flex: 2;
}

.content-left__main-info {
    flex: 1;
}
.content-heading {
    font-size: 20px;
    font-weight: 400;
    color: #63606A;
    padding: 6px;
}

.content-heading + hr {
    border: none;
    border-top: 2px dashed #999;
    margin-bottom: 12px;
}

.content-intro {
    color: #b00;
    text-shadow: 1px 1px 3px #7f7;
    margin-bottom: 16px;
}

.contact-form .form-row {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%; /* chiem khoang 45% hang*/
}

.contact-form .form-row.full-width {
  flex: 1 1 100%; /* chiem full chieu ngang */
}

.contact-form label {
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}


.contact-form textarea {
  min-height: 100px;
  resize: vertical;
}

.form-actions {
  flex: 1 1 100%;
  margin-top: 10px;
}


.form-actions input {
  padding: 6px 14px;
  margin-right: 10px;
  border: 1px solid #aaa;
  background: #f7f7f7;
  cursor: pointer;
  color: #000;
}

.form-actions input:hover {
  background: #ddd;
}


.content-left__main-info-heading {
    font-size: 20px;
    font-weight: 400;
    color: #63606A;
    padding: 6px;
}

.content-left__main-info hr {
    border: none;
    border-top: 2px dashed #999;
    margin-bottom: 12px;
}

.content-left__main-info--part1,
.content-left__main-info--part2,
.content-left__main-info--part3 {
    margin-bottom: 50px;
}

#content-right {
    grid-area: content-right;
    background-color: #fff;
}

.box__content {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px 10px 0 0;
}

.heading  hr {
    border: none;
    border-top: 2px dashed #999;
    margin-bottom: 12px;
}

.box__content img {
    margin-bottom: 30px;
}

#footer {
    grid-area: footer;
    background-color: #294E79;
}